.table {
  padding: var(--default-padding);
  max-width: 800px;
  margin: 0 auto;
  table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid var(--primary-color);
  }
  tr {
    padding: 0.5rem 01rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: left;
  }
  thead {
    tr {
      background-color: var(--primary-color-op-50);
      cursor: pointer;
    }
  }
  tbody {
    tr:nth-child(even) {
      background-color: var(--primary-color-op-10);
    }
  }
}
.pagination {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  &__detail {
    display: flex;
    gap: 5px;
    white-space: nowrap;
    margin: 0 1rem;
  }
  &__select-page {
    margin-left: auto;
    input {
      padding: 5px;
      font-size: 1rem;
      width: 100px;
      margin-right: 1rem;
    }
  }
  &__pages-list {
    padding: 5px;
    font-size: 1rem;
  }
  &__buttons {
    display: flex;
    gap: 5px;
  }
  button {
    padding: 5px;
    font-size: 22px;
    line-height: 20px;
    background-color: var(--primary-color);
    color: var(--white);
    border-color: transparent;
    cursor: pointer;
    transition: all linear 0.1s;
    &:hover {
      box-shadow: 0px 3px 8px -1px rgba(25, 135, 84, 0.5);
      transform: scale(1.06);
    }
  }
}
