/* Box sizing rules */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap'); /*!

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0px;
  font-family: inherit;
}

ul,
ol {
  list-style: none;
}
:root {
  --primary-font: 'Poppins', sans-serif;
}

body {
  font-family: var(--primary-font);
  font-size: 1rem;
}
